.Header
  display flex
  justify-content space-between
  &-checkout
    display flex
    justify-content space-evenly
    align-items center
    justify-items center
    width 30px
    margin 0 0 0 .5em
    a
      display flex
      justify-content center
      align-items center
      background-color #33b1ff
      padding 10px
      border-radius 5px
      color white
      i
        color white
  &-alert
    font-size 14px
    margin-left 5px
    color white
    font-weight bold
  a
    text-decoration none
    color #33b1ff

